<div id="added-info">
    <div class="container px-3 px-md-0 py-3 py-md-0">
        <div class="row align-items-md-center">
            <div class="col-12 col-md-10">
                <ul class="policy mb-3 mb-md-0 px-3 px-xl-0 list-unstyled d-flex flex-wrap align-items-center">
                    <li><a href="/help/sitemap.html">사이트맵</a></li>
                    <li class="bar" role="presentation"></li>
                    <li><a href="/help/service_terms.html">이용약관</a></li>
                    <li class="bar" role="presentation"></li>
                    <li><a href="/help/privacy_terms.html">개인정보처리방침</a></li>
                    <li class="bar" role="presentation"></li>
                    <li><a href="/help/open_api.html">OPEN API</a></li>
                    <li class="bar" role="presentation"></li>
                    <li><a href="/help/email_privacy.html">이메일주소무단수집거부</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-2">
                <div class="related dropup">
                    <button
                        class="btn dropdown-toggle w-100 rounded-0 text-start d-flex justify-content-between align-items-center shadow-none"
                        type="button" id="related-sites" data-bs-toggle="dropdown" aria-expanded="false">
                        관련 사이트
                        <i class="bi bi-chevron-up"></i>
                    </button>
                    <ul class="dropdown-menu rounded-0" aria-labelledby="related-sites">
                        <li><a class="dropdown-item" href="#">문화체육관광부</a></li>
                        <li><a class="dropdown-item" href="#">한국출판문화산업진흥원</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>