<nav id="breadcrumb">
    <div class="container">
        <ol class="mb-0 list-unstyled d-flex">
            <li><a class="d-flex align-items-center justify-content-center h-100 text-decoration-none" href="/"><i class="bi bi-house-door"></i><span class="visually-hidden">홈</span></a></li>
            <li>
                <div class="dropdown">
                    <a class="btn btn-link dropdown-toggle text-start d-flex align-items-center justify-content-between px-3 text-decoration-none shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" title="클릭 시 하위메뉴가 열립니다.">
                        홍보서비스
                    </a>
                    <ul class="dropdown-menu rounded-0 m-0">
                        <li><a class="dropdown-item active" href="#">국제표준 오닉스 소개를 소개합니다</a></li>
                        <li><a class="dropdown-item" href="#">통계서비스</a></li>
                        <li><a class="dropdown-item" href="#">정가변경 공표</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <!-- <a class="text-start d-flex align-items-center h-100 px-3" href="#">전체도서</a> -->
                <div class="dropdown">
                    <a class="btn btn-link dropdown-toggle text-start d-flex align-items-center justify-content-between px-3 text-decoration-none shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" title="클릭 시 하위메뉴가 열립니다.">
                        출간예정 도서
                    </a>
                    <ul class="dropdown-menu rounded-0 m-0">
                        <li><a class="dropdown-item active" href="#">전체도서</a></li>
                        <li><a class="dropdown-item" href="#">출간예정 도서</a></li>
                        <li><a class="dropdown-item" href="#">신간 도서</a></li>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
</nav>