<footer id="footer">
    <div class="container px-3 px-xl-0">
        <div class="row align-items-xl-center">
            <div class="col-12 col-xl-2 d-none d-sm-block">
                <img class="logo mb-3 mb-xl-0" src="/img/logo_white.png" alt="출판유통통합전산망">
            </div>
            <div class="col-12 col-xl-10">
                <ul class="contacts list-unstyled d-xl-flex">
                    <li>
                        <address class="mb-0">(54866) 전라북도 전주시 덕진구 중동로 63 </address>
                    </li>
                    <li>고객지원센터 : <a href="mailto: 070-8209-4271" target="_blank" title="새창으로 열림">070-8209-4271~2</a>
                    </li>
                    <li>출판유통선진화센터(출판유통 정보센터) : <a href="tel: 063-219-2798">063-219-2798</a></li>
                    <li>E-MAIL: <a href="mailto: kbookdata@kpipa.or.kr" target="_blank"
                            title="새창으로 열림">kbookdata@kpipa.or.kr</a></li>
                </ul>
                <p class="copyright mb-0">
                    Publication Industry Promotion Agency of Korea.<br class="d-xl-none">
                    All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>