<header id="header">
    <div class="container">
        <div class="row align-items-center py-2 py-xl-4">
            <div class="col-auto ps-3 py-1 ps-xl-0 py-xl-2">
                <h1 class="logo mb-0 py-xl-1">
                    <a href="/">
                        <img src="/img/logo.svg" class="d-block" alt="출판유통통합전산망">
                    </a>
                </h1>
            </div>
            <div class="col-auto ms-auto">
                <div class="row align-items-center">
                    <div class="col-auto d-none d-xl-flex">
                        <ul class="nav list-unstyled mb-0 d-flex">
                            
                            <li class="px-4">
                                <a class="px-2" href="#">도서정보 검색</a>
                                <ul class="position-absolute list-unstyled mb-0 ps-2">
                                    <li class="py-2"><a href="/pr/all_book_list.html">전체 도서</a></li>
                                    <li class="py-2"><a href="/pr/upcoming_book_list.html">출간예정 도서</a></li>
                                    <li class="py-2"><a href="/pr/new_book_list.html">신간 도서</a></li>
                                    <li class="py-2"><a href="/pr/catalog_list.html">도서 카탈로그</a></li>
                                </ul>
                            </li>
                            <li class="px-4">
                                <a class="px-2" href="#">출판산업 통계</a>
                                <ul class="position-absolute list-unstyled mb-0 ps-2">
                                    <li class="py-2"><a href="/stat/sales_report.html">판매 통계</a></li>
                                    <li class="py-2"><a href="/stat/loan_popular.html">대출 통계</a></li>
                                    <li class="py-2"><a href="/stat/reader_age.html">독자 통계</a></li>
                                    <li class="py-2"><a href="/stat/infographic_trend.html">인포그래픽</a></li>
                                </ul>
                            </li>
                            <li class="px-4">
                                <a class="px-2" href="#">정가변경 공표</a>
                                <ul class="position-absolute list-unstyled mb-0 ps-2">
                                    <li class="py-2"><a href="/reprice/about_reprice.html">공표 소개</a></li>
                                    <li class="py-2"><a href="/reprice/repriced_list.html">공표 간행물</a></li>
                                    <li class="py-2"><a href="/reprice/monthly_repriced_list.html">공표 자료</a></li>
                                    <li class="py-2"><a href="/reprice/repriced_stat.html">공표 통계</a></li>
                                </ul>
                            </li>
                            <li class="px-4">
                                <a class="px-2" href="#">고객지원센터</a>
                                <ul class="position-absolute list-unstyled mb-0 ps-2">
                                    <li class="py-2"><a href="/cs/notice_list.html">공지사항</a></li>
                                    <li class="py-2"><a href="/cs/faq_list.html">자주 묻는 질문</a></li>
                                    <li class="py-2"><a href="/cs/archive_list.html">자료실</a></li>
                                    <li class="py-2"><a href="/cs/lecture_list.html">동영상 강좌</a></li>
                                </ul>
                            </li>
                            <li class="ps-4 pe-3 pe-xl-0">
                                <a class="px-2  pe-xl-0 active" href="#">통합전산망 소개</a>
                                <ul class="position-absolute list-unstyled mb-0 ps-2">
                                    <li class="py-2"><a class="active" href="/about/business_overview.html">사업 소개</a></li>
                                    <li class="py-2"><a href="/about/service_onix.html">서비스 소개</a></li>
                                    <li class="py-2"><a href="/about/related_sites.html">관련 사이트</a></li>
                                    <li class="py-2"><a href="/about/standard_code.html">거래처 표준코드</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-auto px-3 d-xl-none">
                        <button class="btn btn-link btn-menu p-0 btn-sm shadow-none" data-bs-toggle="modal"
                            data-bs-target="#sidebar">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backdrop bg-whtie"></div>
</header>