<div class="modal fade" tabindex="-1" id="sidebar">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <a href="#">
                        <img src="/img/logo.svg" class="d-block" alt="출판유통통합전산망">
                    </a>
                </h5>
                <button type="button" class="btn-close pe-3 shadow-none" data-bs-dismiss="modal" aria-label="닫기"></button>
            </div>
            <div class="modal-body p-0">
                <div class="accordion accordion-flush" id="sidebar-accordion">
                    
                    <div class="accordion-item bg-white">
                        <h2 class="accordion-header">
                            <button class="bg-white shadow-none collapsed px-3 py-4 border-0 w-100 text-start d-flex" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sidebar-submenu-3" aria-expanded="false"
                                aria-controls="sidebar-submenu-3">
                                도서정보 검색
                                <i class="bi bi-plus-lg ms-auto me-1"></i>
                                <i class="bi bi-dash-lg ms-auto me-1"></i>
                            </button>
                        </h2>
                        <div id="sidebar-submenu-3" class="accordion-collapse collapse" data-bs-parent="#sidebar-accordion">
                            <div class="accordion-body pt-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2 ps-2"><a href="/pr/all_book_list.html">전체 도서</a></li>
                                    <li class="py-2 ps-2"><a href="/pr/upcoming_book_list.html">출간예정 도서</a></li>
                                    <li class="py-2 ps-2"><a href="/pr/new_book_list.html">신간 도서</a></li>
                                    <li class="py-2 ps-2"><a href="/pr/catalog_list.html">도서 카탈로그</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-white">
                        <h2 class="accordion-header">
                            <button class="bg-white shadow-none collapsed px-3 py-4 border-0 w-100 text-start d-flex" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sidebar-submenu-4" aria-expanded="false"
                                aria-controls="sidebar-submenu-4">
                                출판산업 통계
                                <i class="bi bi-plus-lg ms-auto me-1"></i>
                                <i class="bi bi-dash-lg ms-auto me-1"></i>
                            </button>
                        </h2>
                        <div id="sidebar-submenu-4" class="accordion-collapse collapse" data-bs-parent="#sidebar-accordion">
                            <div class="accordion-body pt-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2 ps-2"><a href="/stat/sales_report.html">판매 통계</a></li>
                                    <li class="py-2 ps-2"><a href="/stat/loan_popular.html">대출 통계</a></li>
                                    <li class="py-2 ps-2"><a href="/stat/infographic_trend.html">인포그래픽</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-white">
                        <h2 class="accordion-header">
                            <button class="bg-white shadow-none collapsed px-3 py-4 border-0 w-100 text-start d-flex" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sidebar-submenu-5" aria-expanded="false"
                                aria-controls="sidebar-submenu-5">
                                정가변경 공표
                                <i class="bi bi-plus-lg ms-auto me-1"></i>
                                <i class="bi bi-dash-lg ms-auto me-1"></i>
                            </button>
                        </h2>
                        <div id="sidebar-submenu-5" class="accordion-collapse collapse" data-bs-parent="#sidebar-accordion">
                            <div class="accordion-body pt-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2 ps-2"><a href="/reprice/about_reprice.html">공표 소개</a></li>
                                    <li class="py-2 ps-2"><a href="/reprice/repriced_list.html">공표 간행물</a></li>
                                    <li class="py-2 ps-2"><a href="/reprice/monthly_repriced_list.html">공표 자료</a></li>
                                    <li class="py-2 ps-2"><a href="/reprice/repriced_stat.html">공표 통계</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-white">
                        <h2 class="accordion-header">
                            <button class="bg-white shadow-none collapsed px-3 py-4 border-0 w-100 text-start d-flex" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sidebar-submenu-6" aria-expanded="false"
                                aria-controls="sidebar-submenu-6">
                                고객지원센터
                                <i class="bi bi-plus-lg ms-auto me-1"></i>
                                <i class="bi bi-dash-lg ms-auto me-1"></i>
                            </button>
                        </h2>
                        <div id="sidebar-submenu-6" class="accordion-collapse collapse" data-bs-parent="#sidebar-accordion">
                            <div class="accordion-body pt-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2 ps-2"><a href="/cs/notice_list.html">공지사항</a></li>
                                    <li class="py-2 ps-2"><a href="/cs/faq_list.html">자주 묻는 질문</a></li>
                                    <li class="py-2 ps-2"><a href="/cs/archive_list.html">자료실</a></li>
                                    <li class="py-2 ps-2"><a href="/cs/lecture_list.html">동영상 강좌</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-white">
                        <h2 class="accordion-header">
                            <button class="bg-white shadow-none collapsed px-3 py-4 border-0 w-100 text-start d-flex" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sidebar-submenu-1" aria-expanded="false"
                                aria-controls="sidebar-submenu-1">
                                통합전산망 소개
                                <i class="bi bi-plus-lg ms-auto me-1"></i>
                                <i class="bi bi-dash-lg ms-auto me-1"></i>
                            </button>
                        </h2>
                        <div id="sidebar-submenu-1" class="accordion-collapse collapse" data-bs-parent="#sidebar-accordion">
                            <div class="accordion-body pt-0">
                                <ul class="list-unstyled mb-0">
                                    <li class="py-2 ps-2"><a class="active" href="/about/business_overview.html">사업 소개</a></li>
                                    <li class="py-2 ps-2"><a href="/about/service_onix.html">서비스 소개</a></li>
                                    <li class="py-2 ps-2"><a href="/about/related_sites.html">관련 사이트</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>