<div id="toolbar">
    <div class="container px-3 px-xl-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-auto">
                <dl class="cs mb-0 d-flex align-items-center">
                    <dt class="me-1 d-flex align-items-center"><i class="bi bi-headset me-1"></i> 고객지원센터</dt>
                    <dd class="mb-0"><a href="tel: 070-8209-4271">070 8209
                            4271~2</a></dd>
                </dl>
            </div>
            <div class="col-12 d-none col-md-auto d-xl-block">
                <div class="util ml-auto d-flex align-items-center">
                    <a class="user me-4" href="#"><span>박지혜</span>님 반갑습니다.</a>
                    <a class="log px-3" href="/member/logout.html">로그아웃</a>
                    <a class="log px-3" href="/member/login.html">로그인</a>
                    <div class="dropdown quick">
                        <a data-bs-toggle="dropdown" id="quick-menu" class="px-3" href="#">Quick Menu</a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="quick-menu">
                            <a class="dropdown-item" href="#">문화체육관광부</a>
                            <a class="dropdown-item" href="#">한국출판문화산업진흥원</a>
                        </div>
                    </div>
                    <a class="admin d-flex align-items-center px-3 rounded-pill" href="/filelist.html">업무시스템</a>
                </div>
            </div>
        </div>
    </div>
</div>