<div id="top-banner">
    <div class="container position-relative">
        
            
        <a href="https://bnk.kpipa.or.kr/home/v3/helpdesk/hlpBbsNoticeList?cPostSeq=20211101185421607857" class="d-block" target="_self">
            <img class="w-100 d-block" src="https://picsum.photos/1200/120" alt="상단배너">
        </a>
            
            
        
        <div class="controls d-flex flex-column align-items-center justify-content-center position-absolute">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="not-today-top-banner">
                <label class="form-check-label" for="not-today-top-banner">
                    오늘 안보기
                </label>
            </div>
            <button type="button" class="btn btn-link btn-closee shadow-none" id="btnMainBannerClose">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>
</div>