<a class="border-list-item" href="/pr/catalog_book_details.html">
    <div>
        <dl class="mb-0 no">
            <dt>번호</dt>
            <dd class="mb-0">1</dd>
        </dl>
        <dl class="mb-0 title">
            <dt>카탈로그명</dt>
            <dd class="mb-0">바쁜 예비 1학년을 위한 빠른 연산법 바쁜 예비 1학년을 위한 빠른 연산법</dd>
        </dl>
        <dl class="mb-0 date">
            <dt>게시날짜</dt>
            <dd class="mb-0">2021-11-22</dd>
        </dl>
        <dl class="mb-0 publisher">
            <dt>출판사명</dt>
            <dd class="mb-0">이지스에듀</dd>
        </dl>
        <dl class="mb-0 imprint">
            <dt>임프린트명</dt>
            <dd class="mb-0">이지스에듀</dd>
        </dl>
    </div>
</a>