<table class="table table-bordered table-hover">
    <colgroup>
        <col style="width: 50px;">
        <col style="width: auto;">
        <col style="width: 180px;">
        <col style="width: 75px;">
        <col style="width: 165px;">
        <col style="width: 70px;">
        <col style="width: 70px;">
        <col style="width: 110px;">
        <col style="width: 155px;">
        <col style="width: 70px;">
    </colgroup>
    <thead>
        <tr class="text-center">
            <th>순번</th>
            <th>제목</th>
            <th>ISBN</th>
            <th>출간상태</th>
            <th>출판사명/<br class="d-none">임프린트명</th>
            <th>저자</th>
            <th>정가</th>
            <th>발행일</th>
            <th>주제<br class="d-none">분류</th>
            <th>도서<br class="d-none">유형</th>
        </tr>
    </thead>
    <tbody>
        <tr class="align-middle" onclick="location.href='/pr/book_details.html'">
            <td class="text-center">1</td>
            <td>
                오늘도 고양이<br>
                <small class="text-muted">2022 일력 우린 매일 너와 함께다냥!</small>
            </td>
            <td class="text-center">979-11-87033-61-5</td>
            <td class="text-center">공급가능</td>
            <td class="text-center">㈜좋은생각사람들 / 좋은생각</td>
            <td class="text-center">김나무</td>
            <td class="text-end">22,000</td>
            <td class="text-center">2021-10-26</td>
            <td class="text-center">인물, 문학, 문학연구</td>
            <td class="text-center">종이책</td>
        </tr>
        <tr class="align-middle" onclick="location.href='/pr/book_details.html'">
            <td class="text-center">1</td>
            <td>
                오늘도 고양이<br>
                <small class="text-muted">2022 일력 우린 매일 너와 함께다냥!</small>
            </td>
            <td class="text-center">979-11-87033-61-5</td>
            <td class="text-center">공급가능</td>
            <td class="text-center">㈜좋은생각사람들 / 좋은생각</td>
            <td class="text-center">김나무</td>
            <td class="text-end">1,022,000</td>
            <td class="text-center">2021-10-26</td>
            <td class="text-center">인물, 문학, 문학연구</td>
            <td class="text-center">오디오북</td>
        </tr>
    </tbody>
</table>