<div class="book-detailed-item">
    <a href="/pr/book_details.html" class="figure">
        <img src="https://picsum.photos/id/684/300/300" alt="">
        <div class="type-badge pink">
            다품목
        </div>
    </a>
    <div class="info">
        <div class="title"><a href="/pr/book_details.html">Do it! BERT와 GPT로 배우는 자연어 처리</a></div>
        <div class="subtitle text-muted">트랜스포머 핵심 원리와 허깅페이스 패키지 활용법</div>
        <div class="number">979-11-66800-33-7<span class="bar">|</span>공급가능</div>
        <div class="publisher">음악세계 / K-POP시리즈</div>
        <div class="writer">이은정<span class="bar">|</span>8,000원<span class="bar">|</span>2021-07-10</div>
        <div class="category">악보, 가사집, 오페라 대본</div>
        <div class="book-type">종이책</div>
        <div class="related">[카탈로그] <a href="#">K-POP</a>, <a href="#">피아노로 따라잡기</a></div>
    </div>
</div>