<a href="/pr/book_details.html" class="book-grid-item">
    <div class="figure">
        <img src="/img/dummy_book_cover.jpg">
        <div class="info">
            <div class="mb-1 number">979-11-90898-29-4</div>
            <div class="mb-1 publisher">도서출판 해솔해솔</div>
            <div class="mb-1 writer">저자</div>
            <div class="mb-1 category">어린이, 청소년 , 학습</div>
            <div class="mb-1 date">2021-09-30</div>
            <div class="mb-1 count">대출건수: 1201건</div>
        </div>
        <!--
            색상 클래스
            전자책: orange
            오디오북: green
            다품목: pink    
        -->
        <div class="rank-badge pink">
            200
        </div>
    </div>
    <div class="figcaption">
        대한민국 파이어족 서바이벌
    </div>
</a>