<div class="catalog-detailed-item">
    <a href="/pr/catalog_details.html" class="figure">
        <img src="https://picsum.photos/id/684/300/300" alt="">
        <div class="type-badge pink">
            다품목
        </div>
    </a>
    <div class="figcaption">
        <div class="title"><a href="/pr/book_details.html">오늘은 K-POP OST 피아노 연주곡집 - MR과 함께하는 연주곡집</a></div>
        <div class="number">979-11-66800-33-7<span class="bar">|</span>공급가능</div>
        <div class="publisher">음악세계 / K-POP시리즈</div>
        <div class="writer">이은정<span class="bar">|</span>8,000원<span class="bar">|</span>2021-07-10</div>
        <div class="category">악보, 가사집, 오페라 대본</div>
        <div class="book-type">종이책</div>
    </div>
</div>