<table class="table table-bordered table-hover">
    <colgroup>
        <col style="width: 50px;">
        <col style="width: auto;">
        <col style="width: 180px;">
        <col style="width: 75px;">
        <col style="width: 165px;">
        <col style="width: 70px;">
        <col style="width: 70px;">
        <col style="width: 110px;">
        <col style="width: 155px;">
        <col style="width: 70px;">
    </colgroup>
    <thead>
        <tr class="text-center">
            <th>순번</th>
            <th>제목</th>
            <th>ISBN</th>
            <th>출간상태</th>
            <th>출판사명/임프린트명</th>
            <th>저자</th>
            <th>정가</th>
            <th>발행일</th>
            <th>주제분류</th>
            <th>도서유형</th>
        </tr>
    </thead>
    <tbody>
        <tr class="align-middle" onclick="location.href='/pr/catalog_details.html'">
            <td class="text-center">1</td>
            <td>
                ㈜오늘은 K-POP OST 피아노 연주곡집<br>
                <small class="text-muted">MR과 함께하는 연주곡집</small>
            </td>
            <td class="text-center">979-11-66800-33-7</td>
            <td class="text-center">공급가능</td>
            <td class="text-center">음악세계 / K-POP시리즈</td>
            <td class="text-center">이은정</td>
            <td class="text-end">8,000</td>
            <td class="text-center">2021-07-10</td>
            <td class="text-center">악보, 가사집, 오페라 대본</td>
            <td class="text-center">종이책</td>
        </tr>
        <tr class="align-middle" onclick="location.href='/pr/catalog_details.html'">
            <td class="text-center">1</td>
            <td>
                오늘은 K-POP OST 피아노 연주곡집<br>
                <small class="text-muted">MR과 함께하는 연주곡집</small>
            </td>
            <td class="text-center">979-11-66800-33-7</td>
            <td class="text-center">공급가능</td>
            <td class="text-center">음악세계 / K-POP시리즈</td>
            <td class="text-center">이은정</td>
            <td class="text-end">8,000</td>
            <td class="text-center">2021-07-10</td>
            <td class="text-center">악보, 가사집, 오페라 대본</td>
            <td class="text-center">종이책</td>
        </tr>
        <tr class="align-middle" onclick="location.href='/pr/catalog_details.html'">
            <td class="text-center">1</td>
            <td>
                오늘은 K-POP OST 피아노 연주곡집<br>
                <small class="text-muted">MR과 함께하는 연주곡집</small>
            </td>
            <td class="text-center">979-11-66800-33-7</td>
            <td class="text-center">공급가능</td>
            <td class="text-center">음악세계 / K-POP시리즈</td>
            <td class="text-center">이은정</td>
            <td class="text-end">8,000</td>
            <td class="text-center">2021-07-10</td>
            <td class="text-center">악보, 가사집, 오페라 대본</td>
            <td class="text-center">종이책</td>
        </tr>
        <tr class="align-middle" onclick="location.href='/pr/catalog_details.html'">
            <td class="text-center">1</td>
            <td>
                오늘은 K-POP OST 피아노 연주곡집<br>
                <small class="text-muted">MR과 함께하는 연주곡집</small>
            </td>
            <td class="text-center">979-11-66800-33-7</td>
            <td class="text-center">공급가능</td>
            <td class="text-center">음악세계 / K-POP시리즈</td>
            <td class="text-center">이은정</td>
            <td class="text-end">8,000</td>
            <td class="text-center">2021-07-10</td>
            <td class="text-center">악보, 가사집, 오페라 대본</td>
            <td class="text-center">종이책</td>
        </tr>
        <tr class="align-middle" onclick="location.href='/pr/catalog_details.html'">
            <td class="text-center">1</td>
            <td>
                오늘은 K-POP OST 피아노 연주곡집<br>
                <small class="text-muted">MR과 함께하는 연주곡집</small>
            </td>
            <td class="text-center">979-11-66800-33-7</td>
            <td class="text-center">공급가능</td>
            <td class="text-center">음악세계 / K-POP시리즈</td>
            <td class="text-center">이은정</td>
            <td class="text-end">8,000</td>
            <td class="text-center">2021-07-10</td>
            <td class="text-center">악보, 가사집, 오페라 대본</td>
            <td class="text-center">종이책</td>
        </tr>
    </tbody>
</table>